{# extend the base html #}
{% extends "govcyBase.njk" %}
{# import components #}
{% from "govcyEmailElement.njk" import govcyEmailElement %}
{# set language #}
{% set lang='el'%}
{# set the blocks of the base template  #}
    {# language block  #}
    {% block lang %}{{lang}}{% endblock %}
    {# subject block #}
    {% block subject %}Service email{% endblock %}
    {# pre header block #}
    {% block pre -%}{{ govcyEmailElement ('preHeader',{preText:'The pre header text'}) }}{%- endblock %}
    {# header block #}
    {% block header -%}
        {# use the header component #}
        {{ govcyEmailElement ('header',{serviceName:'Service name', name:'First and Last name',lang:lang}) }}
    {%- endblock %}
    {# success block #}
    {% block success -%}
        {# use the email success component #}
        {{ govcyEmailElement ('success',
        {
            title:'Έχουμε λάβει την αίτησή σας', 
            body:'Η ημερομηνία της αίτησης είναι 12/1/2024 και ο αριθμός αναφοράς σας είναι DSF123456789.'}
        ) }}
    {%- endblock %}
    {# body block #}
    {% block body -%}
        {# use the body component   #}
        {% call govcyEmailElement('body') -%}
            {# use combinatopn of body components to complete the body #}
            {% call govcyEmailElement('bodyHeading',{headinLevel:1}) -%}
                Heading 1
            {%- endcall %}
            {% call govcyEmailElement('bodyParagraph') -%}
                Αν χρειαστούμε οποιοδήποτε άλλο στοιχείο κατά τη διάρκεια εξέτασης της αίτησής σας, θα επικοινωνήσουμε μαζί σας
            {%- endcall %}
            {% call govcyEmailElement('bodyHeading',{headinLevel:2}) -%}
                Heading 2
            {%- endcall %}
            {% call govcyEmailElement('bodyParagraph') -%}
                Lorem ipsum kai xero go kouventes
            {%- endcall %}
            {% call govcyEmailElement('bodyHeading',{headinLevel:3}) -%}
                Heading 3
            {%- endcall %}
            {% call govcyEmailElement('bodyParagraph') -%}
                Lorem ipsum kai xero go kouventes
            {%- endcall %}
            {% call govcyEmailElement('bodyHeading',{headinLevel:4}) -%}
                Heading 4
            {%- endcall %}
            {% call govcyEmailElement('bodyParagraph') -%}
                Lorem ipsum kai xero go kouventes
                {{ govcyEmailElement ('bodyList',{type:'ol', items: ["xero -", "go", "kouvente"]}) }}
                {{ govcyEmailElement ('bodyList',{type:'ul', items: ['<a href="#">xero</a>', "go", "kouvente"]}) }}
            {%- endcall %}
        {%- endcall%}
    {%- endblock %}
    {# footer block #}
    {% block footer -%}
        {# use the footer component #}
        {{ govcyEmailElement ('footer',{footerText:'Όνομα υπηρεσίας'}) }}
    {%- endblock %}