{# extend the base html #}
{% extends "govcyBase.njk" %}
{# import components #}
{% from "govcyEmailElement.njk" import govcyEmailElement %}
{# set language #}
{% set lang='en'%}
{# set the blocks of the base template  #}
    {# language block  #}
    {% block lang %}{{lang}}{% endblock %}
    {# subject block #}
    {% block subject %}Service email{% endblock %}
    {# pre header block #}
    {% block pre -%}{{ govcyEmailElement ('preHeader',{preText:'The pre header text'}) }}{%- endblock %}
    {# header block #}
    {% block header -%}
        {# use the header component #}
        {{ govcyEmailElement ('header',{serviceName:'Service name', name:'First and Last name',lang:lang}) }}
    {%- endblock %}
    {# success block #}
    {% block success -%}
        {# use the email success component #}
        {{ govcyEmailElement ('success',
        {
            title:'Success messasage',
            body:'Lorem ipsum'
        }
        ) }}
    {%- endblock %}
    {# body block #}
    {% block body -%}
        {# use the body component   #}
        {% call govcyEmailElement('body') -%}
            {# use combinatopn of body components to complete the body #}
            {% call govcyEmailElement('bodyHeading',{headinLevel:1}) -%}
                Heading 1
            {%- endcall %}
            {% call govcyEmailElement('bodyParagraph') -%}
                Body
            {%- endcall %}
            {{ govcyEmailElement ('bodyList',{type:'ol', items: ["item 1", "item 2", "item 3"]}) }}
        {%- endcall%}
    {%- endblock %}
    {# footer block #}
    {% block footer -%}
        {# use the footer component #}
        {{ govcyEmailElement ('footer',{footerText:'Service name'}) }}
    {%- endblock %}