{# pre header
 @param {string} preText The pre header text. Will escape text 
 @param {string} lang The language used. Can be 'en','el'. Optional.
 @returns govcy pre header for emails html 
#}
{% macro gocvyEmailPreHeader(params) -%}
<div style="display:none;font-size:1px;color:#ffffff;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden;"{% if params.lang %} lang="{{params.lang}}"{% endif %}>{{params.preText}}</div>
{%- endmacro %}